* {
    padding: 0;
    margin: 0;
}

body {
    background: #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;

    #wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 50px auto;

        .tile-group {
            background: #eee;
            margin-bottom: 50px;
            padding: 20px;
            border-radius: 10px;

            h2 {
                font-weight: normal;
                margin-bottom: 20px;

                span {
                    background: #FFE5B4;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 40px;
                }
            }
        }
    }
}

.tiles {
    .tile {
        background: #f06;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
    }
}
